body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-270px;
  top:-60px;
  width:1490px;
  height:930px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:930px;
}
#u1 {
  position:absolute;
  left:2px;
  top:457px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:293px;
  top:100px;
  width:153px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:270px;
  top:70px;
  width:880px;
  height:680px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:680px;
}
#u5 {
  position:absolute;
  left:2px;
  top:332px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:460px;
  top:100px;
  width:153px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:320px;
  top:206px;
  width:670px;
  height:384px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:384px;
}
#u9 {
  position:absolute;
  left:2px;
  top:184px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:390px;
  top:320px;
  width:490px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:490px;
  height:2px;
}
#u11 {
  position:absolute;
  left:468px;
  top:777px;
  width:412px;
  height:43px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:43px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:287px;
  top:84px;
  width:420px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:416px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:320px;
  top:132px;
  width:110px;
  height:38px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:431px;
  top:132px;
  width:110px;
  height:38px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:542px;
  top:132px;
  width:110px;
  height:38px;
  color:#FFFFFF;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:410px;
  top:146px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:520px;
  top:147px;
  width:10px;
  height:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:630px;
  top:146px;
  width:10px;
  height:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:70px;
  width:200px;
  height:680px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:680px;
}
#u28 {
  position:absolute;
  left:2px;
  top:332px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:113px;
  width:200px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:40px;
  top:285px;
  width:200px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:156px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:199px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:242px;
  width:200px;
  height:43px;
  font-size:14px;
  color:#3399CC;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:188px;
  top:173px;
  width:10px;
  height:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:188px;
  top:214px;
  width:10px;
  height:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:188px;
  top:259px;
  width:10px;
  height:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:38px;
  top:69px;
  width:200px;
  height:43px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:68px;
  top:77px;
  width:137px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:3px;
  width:1220px;
  height:67px;
  font-size:14px;
  color:#3399CC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:67px;
}
#u50 {
  position:absolute;
  left:2px;
  top:26px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:17px;
  top:18px;
  width:94px;
  height:37px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:970px;
  top:4px;
  width:86px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1160px;
  top:3px;
  width:90px;
  height:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1080px;
  top:4px;
  width:52px;
  height:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
